@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=LXGW+WenKai+TC&display=swap');
#root {
  width: 100%;
  font-family: "Comfortaa", sans-serif;
  font-style: normal;
}
main{
  padding-top: 100px;
}
a{
  text-decoration: none;
}